<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Темы | Все вопросы из тестов ПДД Украины</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/alertifyjs/1.4.1/build/css/alertify.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/alertifyjs/1.4.1/build/css/themes/default.min.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

    <header th:replace="~{fragments/header :: header}" >Header</header>

    <main role="main">

        <section class="jumbotron text-center">
            <h3 th:text="${question.getSection().getNumber()}+'. '+${question.getSection().getName()}" class="jumbotron-heading pb-2">Вопросы по теме</h3>
            <div class="btn-group questions-progress" role="group">
                <a th:each="questionProgressUnits : ${progress}"
                   th:text="${questionProgressUnits.getQuestionNumber()}"
                   th:href="@{'/section/'+${question.getSection().getId()}+'/question/'+${questionProgressUnits.getQuestionNumber()}}"
                   th:class="'btn ' + ${questionProgressUnits.getAnswerResult().ordinal() == 0 ? 'btn-light' : (questionProgressUnits.getAnswerResult().ordinal() == 1 ? 'btn-success' : 'btn-danger')}"
                   th:classappend="${questionProgressUnits.getQuestionNumber() == question.getNumber() ? 'active' : ''}"
                   class="btn btn-light" role="button">N</a>
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div th:text="${question.getText()}" class="col-md-12 h4 pb-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="list-group">
                            <button th:each="answer : ${question.getAnswers()}" th:text="${answer.getText()}"
                                    th:classappend="${currentQuestionProgressUnit.getAnswerResult().ordinal() != 0
                                        ? (currentQuestionProgressUnit.getAnswerResult().ordinal() == 1 && answer.getNumber() == currentQuestionProgressUnit.getAnsweredNumber() ? 'list-group-item-success'
                                            : (answer.getNumber() == question.getAnswer() ? 'list-group-item-success'
                                                : (answer.getNumber() == currentQuestionProgressUnit.getAnsweredNumber() ? 'list-group-item-danger' : '')
                                            )
                                        )
                                    : ''}"
                                    class="list-group-item list-group-item-action answer-button" th:id="${answer.getNumber()}">Text</button>
                        </div>
                        <form action="#" th:action="@{'/section/'+${question.getSection().getId()}+'/question/'+${question.getNumber()}}" method="post" id="answer-form">
                            <input name="answer" id="answer" type="hidden" th:disabled="${currentQuestionProgressUnit.getAnswerResult().ordinal() != 0}"/>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <img class="question-image" th:src="@{'/images/'+${question.getId()}+'.jpg'}" alt="image" src="../static/images/48.jpg"/>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer th:replace="~{fragments/footer :: footer}" class="text-muted">footer</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/alertifyjs/1.4.1/build/alertify.min.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>