.main {
    margin-top: 56px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.question-image {
    width: 95%;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.question-image:hover {
    width: 150%!important;
}

.questions-progress {
    max-width: 80%;
    overflow-x: scroll;
}

.answer-button {
    cursor: pointer;
}

.result-progress-bar {
    height: 2rem;
}

.reg-form {
    max-width: 400px;
}

.navbar-toggler:focus {
    outline: none;
}

@media screen and (max-width: 400px) {
    .logo-text {
        display: none !important;
    }
}

@media screen and (max-width: 360px) {
    .username-in-header {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70px;
    }
}

.user-icon-in-header {
    display: none;
}

@media screen and (max-width: 290px) {
    .username-in-header {
        display: none !important;
    }

    .user-icon-in-header {
        display: block !important;
    }
}

.section-statistic {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.readiness_background {
    background-color: #ececec;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.section-name {
    position: relative;
    padding-right: 45px;
    display: block;
}

.readiness {
    position: absolute;
    top: 12px;
    right: 15px;
}